* { 
	box-sizing: border-box;
}

body, html {
  background-color: #01051A1A;
	height: 100%;
}

.container-reset-main {
  padding-top: 0.5px;
}

.container-reset {
  margin: 20px auto;
  /* margin-top: 20px; */
  width: 360px;
  height: 760px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  opacity: 100%;
  background-color: #fff;
  border: 1px solid #A3A5AC;
}

.wrap-reset {
  width: 312px;
  background: #FFF;
}

.reset-form {
  width: 100%;
  position: relative;
}


.email, .password {
  text-align: left;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  color: #4E515F;
}


.wrap-input {
  width: 100%;
  position: relative;
  z-index: 1;
}

.input-reset {
  /* font-size: 14px;
  font-weight: normal;
  color: #A3A5AC; */
  border-radius: 10px;
  padding: 12px;
  margin: 8px 0;
  /* margin: 5px; */
  width: 312px;
  border: 1px solid #01051A1A;
  outline: none;
  background-color: #01051A1A;
  display: block;
  position: relative;
  height: 55px;
}

.eyes {
  position: absolute;
  margin-left: 90%;
  margin-top: -40px;
}

.text-right {
  text-align: right;
  font-size:12px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #01051A;
}

.reset-btn {
  font-weight: bold;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 2.2;
  height: 56px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  margin: 50px 0 10px 0;
  border: none;
  outline: none;
  background-color: #01051A;
}